@import "reset.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext);

* {
	outline: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #333;

	&:hover {
		text-decoration: underline;
	}
}

body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background: url("/img/bg.png") repeat-x top center #f4f5f6;
	color: #333333;
}

h1, h2 {
	font-size: 25px;
	font-weight: 600;
	padding-bottom: 10px;
	color: #6793C5;
}

h2 {font-size: 22px;}

.container {
	display: block;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}